*{
	margin: 0;
	padding: 0;
}

.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.site-content {
  flex: 1;
}

body{
	font-family: 'Abel', sans-serif;
	width: 70%;
	height: 100vh;
	margin: auto;
	background-color: #ffffe6;
	/*background-color: lightblue;
*/	color: #333333;
}

.icon{
	height: 3vw;
	width: 3vw;
	border-radius: 50%;
	
	border: 3px solid #ffffe6;
}

.icon:hover{
	border: 3px solid #80ffe5;
	
}

.list{
	list-style: none;
	display: inline;
}

.list li{
	display: inline;
}



#navMenu a{
	text-decoration: none;
	color: #333333;
	display: inline-block;
	padding: 7px;
}

#navMenu a:hover{
	color: grey;
}

main{
	margin-top: 20px;
}

main nav ul{
	/*font-family: 'Dancing Script', cursive;*/
	font-size: 1.5em;
	float: right;
}

#header h1{
	margin-left: 5vw;
	margin-top: 20px;
	display: inline-block;
	font-size: 3em;
	font-family: 'Dancing Script', cursive;
}

#iconNav{
	display: inline-block;
	float: right;
}



#iconNav a{
	padding: 1vw;
}


footer p{
	float: right;
	color: grey;
}

section figure{
	
	overflow: hidden;
}

.resume{
	width: 80%;
	display: block;
	margin: 10px auto;
	border: 2px solid black;
}

.dp{
	width: 40%;
	display: block;
	float: left;
	border: 1px solid lightblue;
	margin: 0px 10px;

	
}

article{
	overflow: hidden;

}

.aboutmediv{
	
	display: inline-block;
	text-align: center

}

.aboutmeh1{
	/*display: inline-block;*/
	margin: auto;
	font-size: 2em;
	color: #ffcc99;
	font-family: 'Dancing Script', cursive;
}
.aboutmep{
	clear: right;
	font-family: 'Khula', sans-serif;
	font-size: 1.2em;
	/*color: #262626;*/
}

#navigation{
	overflow: hidden;
	margin-bottom: 5%;
}

.currentNavEl{
	border: 2px solid #ffcc99;
	text-decoration: none;

}

.eachPageHead{
	text-align: center; 
	font-family: 'Dancing Script', cursive;
	padding: 10px;
	color: #ffcc99;
	font-size: 2.5em;
}

.projectName{
	color: #333333;
	display: inline-block;
}

.projectName:hover{
	color: #ffcc99;
}



