<nav id="navigation">
			<ul class="list" id="navMenu">
				<li ><a  href="./index.html" class="{% if page.url == '/'%}currentNavEl{% endif %}" title="Anmol Vijayvargiya" >Home</a></li>
				<li><a href="./resume.html" class="{% if page.url == '/resume.html'%}currentNavEl{% endif %}" title="Resume">Resume</a></li>

				<li><a href="./projects.html" class="{% if page.url == '/projects.html'%}currentNavEl{% endif %}" title="Projects">Projects</a></li>

				<li><a href="./contact.html" class="{% if page.url == '/contact.html'%}currentNavEl{% endif %}" title="Contact">Contact</a></li>
			</ul>
		</nav>