<nav id="iconNav">
				<ul class="list" >
					<li><a href="https://www.linkedin.com/in/anmolvijayvargiya/" title=""><img class="icon" src="./images/linkedinIcon.svg" alt="LinkedIn"></a></li><!-- LINKEDIN -->

					<li><a href="https://github.com/anmolvj" title=""><img class="icon" src="./images/gitIcon.svg" alt="GitHub"></a></li><!-- GITHUB -->

					<li><a href="https://www.facebook.com/AnmolVijayargiya" title=""><img class="icon" src="./images/fbIcon.svg" alt="FaceBook"></a></li><!-- FACEBOOK -->

					<li><a href="https://www.instagram.com/holy_anmol/" title=""><img class="icon" src="./images/instaIcon.svg" alt="Instagram"></a></li><!-- INSTAGRAM -->
				</ul>
			</nav>